%h1 Housing and accommodation services
%h2 #{@region}

%ul
  - @results.each do |result|
    %li.provider
      .detail= result.name
      .detail= result.description
      .detail= result.phone_number
      .detail= result.email
      .detail= result.website

